body {
    margin: 0;
    padding: 0;
    background-color: #23404B;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }
  #title{
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;

  }
  img{
    height: 150px;
    width: 90px;
  }
  .card{
    height: 100%;
    color: #fff;
    background-color: rgb(134, 127, 127);

  }
  